<div class="profile-buttons">
    {% with "/profile/"|add:username|add:"/" as user_profile %}
      <a href="{% url 'accounts:profile' user.username %}" class="btn btn-primary {% if request.path == user_profile %} active {% endif %}">
          Profile detail
        </a>
    {% endwith %}

    <a href="{% url 'posts:post_userlist' user.username %}" class="btn btn-primary">
        User posts
    </a>

    <a href="{% url 'accounts:profile_edit' %}" class="btn btn-primary {% if request.path == "/profile/edit" %} active {% endif %}">
        Edit Profile
    </a>

    <a href="{% url 'accounts:profile_password' %}" class="btn btn-primary {% if request.path == "/profile/edit/password" %} active {% endif %}">
        Change password
    </a>
</div>