{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block body_block %}



    {% include 'partials/dashboard.html' with username=user.username %}


    {% include 'partials/navigation.html' with username=user.username %}


    <div class="profile-details">
        <legend class="border-bottom mb-4">Change {{ user.username }} password</legend>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                {{ form|crispy }}
                
                <button class="btn btn-outline-danger" type="submit">Yes, change</button>
                <a class="btn btn-outline-secondary" href="{% url 'accounts:profile' user.username %}">Cancel</a>
            </fieldset>
            

        
        </form>
    </div>



{% endblock %}